* {
    margin: 0;
    padding: 0;
    outline: 0;
}


.mina{
    width: 1190px;
    margin: 0 auto;
    
}
.login-wap{
    height: 510px;
    padding-left: 818px;
    background:url(../images/pp.jpeg);
    margin-top: 40px;
}
.login-wwp {
    background-color: transparent;
    zoom: 1;
    height: 424px;
    display: table-cell;
    padding-top: 39px;

    
    
}
.login-wpp{
    /* border: 0; */
    width: 290px;
    BACKGROUND-COLOR: transparent;
    padding: 5px 0;
    margin: 0 auto;
}
h1{
    color:#f05e1c;
    text-align: center;
    font-family:'SimHei' ;
}
#login_form input {
    
    background-color: transparent;
    border-bottom: #2ea9df 1px solid; 
    border-left: #2ea9df 1px solid;
    border-top: #2ea9df 1px solid;
    border-right: #2ea9df 1px solid;
    color: #2ea9df;
    height: 28px;
    font-size: 13pt;
    border-radius: 25px;
    display: block;
    margin:0 auto;

    


}
#login_form .btn {
    border-right: #e83015 1px solid;
    border-top: #e83015 1px solid;
    border-bottom: #e83015 1px solid;
    border-left: #e83015 1px solid;
    background-color: transparent;
    height: 31px;
    width: 193px;
    display: block;
    margin:0 auto;
    color: #e83015;
    border-radius: 25px;
    font-size: 15px;
}


#login_form .bstyle{
    display: block;
    float: left;
    margin-left: 52px;
    font-size:15px ;

}
#login_form .cstyle{
    display: block;
	float: right;
	margin-right: 46px;
    font-size: 15px;
    color: indianred;
}
#login_form .wj{
    color: indianred;
    margin-left: 46px;
    display: block;
	float: left;
}
.button{   
    width: 74px;
    margin: 0;
    font-size: 14px;
    padding: 1px 0 7px;
    height: 22px;
    display: block;
	float: left;
    margin-left: 55px;
    background-color: #2ea9df;

}
button:hover{
    background-color: rosybrown;
}

p.button {border-style:hidden;}



/* 个人中心 */


.Personal{
    display: block;
    margin:0 auto;
    width: 500px;
    height: 860px;
    background: url(../images/背景图.jpeg);

}
.Personal-h{
    background-color: #51a8dd;
    height: 25px;
    

}
.Personal h3{
 
    text-align: center;
    display: block;
    
    
}
.Personal .sy{
    display: block;
    float: left;
}


.dropbtn {
    background-color:transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
    
   
	
}

.dropdown {
    position: relative;
    display: block;
    float: right; 
    margin-top: -28px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: firebrick}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: bisque;
}

.fg{
    margin-top: 70px;

}

.fg ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
}

 .fg li a {
    display: block;
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
    margin-left: 35px;

    

}
 .fg li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.fg img{
    display: block;
    float: left;
    margin-top: 15px;
}
.fg a img{
    display: block;
    float: right;
    margin-top: 15px;
}


.touxiang{
    display: block;
    /* margin-top: 30px;
    margin-left: 50px; */
    margin: 50px 80px   auto;
    
}

.tx{
    border-radius:150px;
    background: white;
    padding: 2px; 
    width: 60px;
    height: 55px;    
    /* display: block; */
}
.tx img{
    display: block;
    margin: 0px auto;
    border-radius:150px;

}
.touxiang h3{
    display: block;
    float: left;
    margin: -50px 80px   auto;
    color: #51a8dd;
    
    
}
.touxiang .p1{
    display: block;
    float: left;
    margin: -20px 80px   auto;
    color: tomato;

}
.touxiang .p2{
    display: block;
    float: left;
    color: tomato;
    margin-left: 150px;
    margin-top: -25px;
}
.touxiang .p3{
    display: block;
    float: left;
    margin: -25px 144px   auto;
}