*{
    margin: 0;
    padding: 0;
}
.w{
    width: 960px;
    margin: 0 auto;
}

.make{
    width: 960px;
    height: 300px;
    background-color: #ffffff;
}
.make a{
    color: #000;
    display: block;
}
.make a:hover{
    background-color: #ffffff;
    color: #000;
}
.m-title{
    width: 960px;
    height: 30px;
    padding: 10px;
    border: 1px solid #f0f0f0;
   
 
}

.m-container{
    width: 960px;
    height: 250px;
    
}
.m-shop{
    width: 600px;
    height: 150px;
    padding: 5px;
    
    
}
.shop-l{
    width: 200px;
    height: 140px;
    float: left;
}
.shop-l img{
    width: 200px;
    height: 140px;
}

.shop-r{
    width: 380px;
    height: 120px;
    float: left;
    padding: 10px;
}
.shop-r h3{
    width: 380px;
    height: 30px;
}
.shop-r2{
    width: 370px;
    height: 20px;
    padding: 5px;
   
}
.shop-xx{
    width: 90px;
    height: 17px;
    float: left;
     background: url(../images/yy2.png);
}
.shop-ek1{
    width: 380px;
    height: 20px;
    float: left;
    color: #666;
    font-size: 14px;
    padding-top: 10px;
}
    
.shop-ek2{
    width: 380px;
    height: 20px;
    float: left;
    color: #666;
    font-size: 14px;
    padding-top: 10px;
}